In [1]:
import pandas as pd
import pickle
from tqdm import tqdm_notebook

## Load Datasets

## Exploring Train

In [18]:
with open('data/pilottaxi/train.pkl', 'rb') as f:
    pkl_train = pickle.load(f)

In [20]:
pkl_train.keys()

dict_keys(['seqs', 'seqs_obs', 'total_num'])

In [22]:
temp = pd.DataFrame(pkl_train['seqs'][0])
print(temp.shape)
temp.head()

(34, 4)

   idx_event  type_event  time_since_start  time_since_last_event
0          1           8          0.000000               0.000000
1          2           3          0.195833               0.195833
2          3           8          0.613056               0.417222
3          4           3          0.706667               0.093611
4          5           8          0.977778               0.271111

In [24]:
temp = pd.DataFrame(pkl_train['seqs_obs'][0])
print(temp.shape)
temp.head()

(17, 4)

   idx_event  type_event  time_since_start  time_since_last_event
0          1           3          0.195833               0.195833
1          2           3          0.706667               0.510833
2          3           3          1.139722               0.433056
3          4           3          1.623333               0.483611
4          5           3          1.955278               0.331944

In [21]:
pkl_train['total_num']

10

### seq_obs

In [5]:
## convert dict to df
seq_obs_df = pd.DataFrame()
for i in tqdm_notebook(range(0,len(pkl_train['seqs_obs']))):
    temp_df = (pd.DataFrame(pkl_train['seqs_obs'][i]))
    temp_df['id'] = i
    seq_obs_df = pd.concat([seq_obs_df,temp_df])
seq_obs_df.head()

C:\Users\am21907\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=5000.0), HTML(value='')))

In [9]:
# check all event type occurances
seq_obs_df['type_event'].value_counts(dropna=False)

3    66354
0     7214
1     4770
4      409
2      211
Name: type_event, dtype: int64

In [10]:
# check all event idx occurances
seq_obs_df['idx_event'].value_counts(dropna=False)

10    5000
9     5000
2     5000
3     5000
4     5000
5     5000
6     5000
7     5000
8     5000
1     5000
11    5000
12    4677
13    4304
14    3894
15    3470
16    2924
17    2280
18    1583
19     826
Name: idx_event, dtype: int64

### seq

In [14]:
## convert dict to df
seqs_df = pd.DataFrame()
for i in tqdm_notebook(range(0,len(pkl_train['seqs']))):
    temp_df = (pd.DataFrame(pkl_train['seqs'][i]))
    temp_df['id'] = i
    seqs_df = pd.concat([seqs_df,temp_df])
seqs_df.head()

C:\Users\am21907\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=5000.0), HTML(value='')))

   idx_event  type_event  time_since_start  time_since_last_event  id
0          1           8          0.000000               0.000000   0
1          2           3          0.195833               0.195833   0
2          3           8          0.613056               0.417222   0
3          4           3          0.706667               0.093611   0
4          5           8          0.977778               0.271111   0

In [33]:
# check all event type occurances
seqs_df['type_event'].value_counts(dropna=False)

8    68392
3    66354
5     8419
0     7214
1     4770
6     2055
4      409
2      211
7       51
9       41
Name: type_event, dtype: int64

#unique_event_types matches the number of events provided in censor.config

In [17]:
# check all event idx occurances
seqs_df['idx_event'].value_counts(dropna=False)

19    5000
18    5000
16    5000
15    5000
14    5000
13    5000
12    5000
11    5000
10    5000
9     5000
8     5000
7     5000
6     5000
5     5000
4     5000
3     5000
2     5000
17    5000
1     5000
20    5000
21    5000
22    5000
23    4677
24    4677
25    4304
26    4304
28    3894
27    3894
29    3470
30    3470
31    2924
32    2924
33    2280
34    2280
36    1583
35    1583
37     826
38     826
Name: idx_event, dtype: int64

## Mimic training process

### nhps

In [31]:
from copy import deepcopy
data = deepcopy(pkl_train['seqs'])
args = {"MaxEpoch":2,"TrackPeriod":5000}
max_episode = args['MaxEpoch'] * len(data)
report_gap = args['TrackPeriod']
time_sample = 0.0
time_train_only = 0.0
time_dev_only = 0.0
input = []
input_particles = []

for episode in range(max_episode):

    idx_seq = episode % len(data)
    idx_epoch = episode // len(data)
    one_seq = data[ idx_seq ]
    break

In [32]:
one_seq

[{'idx_event': 1,
  'type_event': 8,
  'time_since_start': 0.0,
  'time_since_last_event': 0.0},
 {'idx_event': 2,
  'type_event': 3,
  'time_since_start': 0.19583333333333333,
  'time_since_last_event': 0.19583333333333333},
 {'idx_event': 3,
  'type_event': 8,
  'time_since_start': 0.6130555555555556,
  'time_since_last_event': 0.41722222222222227},
 {'idx_event': 4,
  'type_event': 3,
  'time_since_start': 0.7066666666666667,
  'time_since_last_event': 0.09361111111111109},
 {'idx_event': 5,
  'type_event': 8,
  'time_since_start': 0.9777777777777777,
  'time_since_last_event': 0.2711111111111111},
 {'idx_event': 6,
  'type_event': 3,
  'time_since_start': 1.1397222222222223,
  'time_since_last_event': 0.16194444444444456},
 {'idx_event': 7,
  'type_event': 8,
  'time_since_start': 1.3297222222222222,
  'time_since_last_event': 0.18999999999999995},
 {'idx_event': 8,
  'type_event': 3,
  'time_since_start': 1.6233333333333333,
  'time_since_last_event': 0.29361111111111104},
 {'idx_event': 9,
  'type_event': 8,
  'time_since_start': 1.6908333333333334,
  'time_since_last_event': 0.06750000000000012},
 {'idx_event': 10,
  'type_event': 3,
  'time_since_start': 1.9552777777777777,
  'time_since_last_event': 0.26444444444444426},
 {'idx_event': 11,
  'type_event': 8,
  'time_since_start': 2.0208333333333335,
  'time_since_last_event': 0.06555555555555581},
 {'idx_event': 12,
  'type_event': 3,
  'time_since_start': 2.1994444444444445,
  'time_since_last_event': 0.17861111111111105},
 {'idx_event': 13,
  'type_event': 8,
  'time_since_start': 2.2669444444444444,
  'time_since_last_event': 0.0674999999999999},
 {'idx_event': 14,
  'type_event': 3,
  'time_since_start': 2.4105555555555553,
  'time_since_last_event': 0.1436111111111109},
 {'idx_event': 15,
  'type_event': 8,
  'time_since_start': 2.761388888888889,
  'time_since_last_event': 0.35083333333333355},
 {'idx_event': 16,
  'type_event': 3,
  'time_since_start': 2.914722222222222,
  'time_since_last_event': 0.15333333333333332},
 {'idx_event': 17,
  'type_event': 8,
  'time_since_start': 3.0280555555555555,
  'time_since_last_event': 0.11333333333333329},
 {'idx_event': 18,
  'type_event': 3,
  'time_since_start': 3.176111111111111,
  'time_since_last_event': 0.1480555555555556},
 {'idx_event': 19,
  'type_event': 8,
  'time_since_start': 3.281388888888889,
  'time_since_last_event': 0.1052777777777778},
 {'idx_event': 20,
  'type_event': 3,
  'time_since_start': 3.641388888888889,
  'time_since_last_event': 0.3599999999999999},
 {'idx_event': 21,
  'type_event': 8,
  'time_since_start': 3.6619444444444444,
  'time_since_last_event': 0.02055555555555566},
 {'idx_event': 22,
  'type_event': 3,
  'time_since_start': 3.8355555555555556,
  'time_since_last_event': 0.17361111111111116},
 {'idx_event': 23,
  'type_event': 8,
  'time_since_start': 4.065833333333333,
  'time_since_last_event': 0.23027777777777736},
 {'idx_event': 24,
  'type_event': 3,
  'time_since_start': 4.173611111111111,
  'time_since_last_event': 0.10777777777777775},
 {'idx_event': 25,
  'type_event': 8,
  'time_since_start': 4.420277777777778,
  'time_since_last_event': 0.24666666666666703},
 {'idx_event': 26,
  'type_event': 3,
  'time_since_start': 4.455,
  'time_since_last_event': 0.03472222222222232},
 {'idx_event': 27,
  'type_event': 8,
  'time_since_start': 4.495833333333334,
  'time_since_last_event': 0.0408333333333335},
 {'idx_event': 28,
  'type_event': 3,
  'time_since_start': 4.687777777777778,
  'time_since_last_event': 0.19194444444444425},
 {'idx_event': 29,
  'type_event': 8,
  'time_since_start': 4.744722222222222,
  'time_since_last_event': 0.056944444444444464},
 {'idx_event': 30,
  'type_event': 3,
  'time_since_start': 4.9816666666666665,
  'time_since_last_event': 0.23694444444444418},
 {'idx_event': 31,
  'type_event': 8,
  'time_since_start': 5.002222222222223,
  'time_since_last_event': 0.020555555555556104},
 {'idx_event': 32,
  'type_event': 3,
  'time_since_start': 5.482222222222222,
  'time_since_last_event': 0.47999999999999954},
 {'idx_event': 33,
  'type_event': 8,
  'time_since_start': 5.506944444444445,
  'time_since_last_event': 0.024722222222222534},
 {'idx_event': 34,
  'type_event': 3,
  'time_since_start': 5.820833333333334,
  'time_since_last_event': 0.3138888888888891}]